.mealItem {
  width: 40%;
  margin-bottom: 16px;
}

.mealItem__date {
  display: flex; /* 日付と時間を横並びにするため */
  margin-bottom: 8px;
}

.mealItem__date-flexWrapper {
  margin-right: 8px;
}

.mealItem__food {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .mealItem {
    width: 30%;
  }
}
@media (min-width: 1000px) {
  .mealItem {
    width: 20%;
  }
}
