@charset 'UTF-8';
*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}
a, a:hover {
text-decoration: none;
color: inherit;
}
ul, li {
list-style: none;
}

body, button, input, select {
  font-family: 'Caveat', cursive;
}
